.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 30px;
  margin: 0 0 30px 0;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.icoList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icoList a {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px 0;
  /* border-left: 7px solid #1d232a; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.icoList a.active {
  background: #282e36;
}
